<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
        new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker }
    )
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.Chart },
    new Script { ExtensionSuite = ExtensionSuite.Report },
    new Script { ExtensionSuite = ExtensionSuite.Scheduler },
    new Script { ExtensionSuite = ExtensionSuite.TreeList },
    new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
    new Script { ExtensionSuite = ExtensionSuite.RichEdit },
    new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
    )
    @{
        var version = ViewBag.AssemblyVersion;
    }

    <script src="~/Scripts/jquery-ui.custom.js"></script>
    @*<script src="~/Scripts/uGITCommon.js"></script>*@
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}?v=" + version + "'></script>", "~/Scripts/uGITCommon.js")
    <script src="~/Scripts/interaction.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery.tablednd.js"></script>
    @*<script src="~/Scripts/uGITDashboard.js"></script>*@
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}?v=" + version + "'></script>", "~/Scripts/uGITDashboard.js")
    <script src="~/Scripts/toastr.js"></script>
    @*<script src="~/Scripts/AdminCommon.js"></script>*@
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}?v=" + version + "'></script>", "~/Scripts/AdminCommon.js")
    <script src="~/Scripts/jquery.dialogextend.js"></script>
    <link href="~/Content/uGITCommon.css" rel="stylesheet" />
    @*  <link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/CSS/font-awesome-5.11.2/css/fontawesomeall.css" />
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>
<body style="width: 95%; margin: 0px 0px 40px 40px">
    <div>
        @RenderBody()
    </div>
</body>
</html>
